.config-page-container {
  .operation {
    display flex
    flex-direction column
    align-items flex-end

    .el-button {
      margin-left 20rem

      &:first-child {
        margin-left 0
      }
    }
  }
}
