.folder-card {
  position relative
  display flex
  flex-direction column
  align-items center
  justify-content flex-start
  box-sizing border-box
  width 100rem
  height 100rem
  padding 3rem
  user-select none

  &:hover {
    background var(--background-color-2)
  }

  .icon {
    display flex
    align-items center
    justify-content center
    width 50rem
    height 50rem

    svg {
      width 100%
      height 100%
    }
  }


  .text {
    display -webkit-box
    width 90%
    margin-top 5rem
    overflow hidden
    font-size 14rem
    text-align center
    text-overflow ellipsis
    word-wrap break-word
    word-break break-all
    -webkit-box-orient vertical
    -webkit-line-clamp 2
  }
}
