@import "../../style.styl"

.header {
  width 100%
  height 100%
  background: #fff
  padding 0 20px
  box-sizing border-box
  display flex
  justify-content space-between
  align-items center

  .header-left {
    height 100%
    display flex
    justify-content flex-start

    .brand {
      height 100%
      display flex
      justify-content flex-start
      align-items center
      cursor pointer

      .logo {
        width 46px
        height 46px
        margin-right 10px

        img {
          width 100%
        }

      }


      .title {
        font-size 36px
        font-weight bold
      }
    }


    .website-count {
      box-sizing border-box
      display flex
      align-items flex-end
      font-size 14px
      margin-left 10px
      padding-bottom 12px
      cursor pointer
    }
  }


  .header-right {
    .user-info {
      display: flex;
      align-items: center;
      cursor: pointer;

      .username {
        font-size: 16px;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        color: $default-font-color;
        border-radius: 50%;
        border: 1px solid $default-font-color;
        margin-left: 10px;
        padding: 1px;
        box-sizing: border-box;

        i {
          font-size: 28px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

    }
  }
}
