.header {
  display flex
  align-items center
  justify-content space-between
  box-sizing border-box
  width 100%
  height 100%
  padding 0 20rem
  background var(--background-color)

  .header-left {
    display flex
    justify-content flex-start
    height 100%

    .brand {
      display flex
      align-items center
      justify-content flex-start
      height 100%
      cursor pointer

      .logo {
        width 46rem
        height 46rem
        margin-right 10rem

        img {
          width 100%
        }
      }


      .title {
        font-weight bold
        font-size 36rem
      }
    }


    .website-count {
      display flex
      align-items flex-end
      box-sizing border-box
      margin-left 10rem
      padding-bottom 12rem
      font-size 14rem
      cursor pointer

      +picx-mobile() {
        display none
      }
    }
  }


  .header-right {
    display flex
    align-items center
    justify-content flex-end
    user-select none

    .user-info {
      display flex
      align-items center
      cursor pointer

      .username {
        font-size 16rem
      }

      .avatar-box {
        display flex
        align-items center
        justify-content space-between
        margin-left 12rem

        .avatar {
          display flex
          align-items center
          justify-content center
          box-sizing border-box
          width 38rem
          height 38rem
          padding 1rem
          color var(--text-color)
          border 1rem solid var(--text-color)
          border-radius 50%

          img {
            width 100%
            height 100%
            border-radius 50%
          }
        }


        .user-filled-icon {
          font-size 20rem
        }

        .caret-bottom-icon {
          margin-left 5rem
          font-size 20rem
        }
      }
    }
  }
}
