@import "../../style/base.styl"

.upload-area {
  position relative
  z-index 999
  display flex
  align-items center
  justify-content center
  box-sizing border-box
  width 100%
  height 300rem
  border 4rem dashed var(--third-text-color)

  &.focus {
    border-color var(--upload-area-focus-color)
  }

  &:hover {
    border-color var(--upload-area-focus-color)
  }

  label {
    position absolute
    z-index 1000
    display block
    width 100%
    height 100%
    cursor pointer
  }

  input[type="file"] {
    position absolute
    top -9999rem
    left -9999rem
  }

  .tips {
    color #aaa
    text-align center

    .icon {
      font-size 100rem
    }

    .text {
      font-size 20rem
      cursor default
    }
  }

  img {
    width 100%
    height 100%
    object-fit cover
  }
}
