.setting-title {
  font-size 16px
  font-weight bold
  margin-bottom 20px
}

.setting-list {
  padding 0
  margin 0

  .setting-item {
    margin-bottom 15px

    &.last-child {
      margin-bottom 0
    }
  }

}
