.setting-title {
  font-size 16rem
  font-weight bold
  margin 40rem 0 20rem 0

  &:first-child {
    margin-top 0
  }
}

.setting-list {
  padding 0
  margin 0

  .setting-item {
    margin-bottom 10rem

    &.last-child {
      margin-bottom 0
    }

    .prefix-input {
      width calc(100% - 50rem)
      margin-left 50rem
      margin-top 15rem
    }

    .img-encoder-title {
      margin-bottom 12rem
    }

    :deep() .el-radio-group {

      display inline-block

      .el-radio {
        display block
      }

    }

  }

}
