$top-container-height = 60rem
$left-side-width = 90rem

.main-container {
  position absolute
  box-sizing border-box
  width 100%
  height 100%
  font-size 15rem
  background var(--background-color-2)

  .top-container {
    position relative
    box-sizing border-box
    width 100%
    height $top-container-height
  }


  .bottom-container {
    position relative
    box-sizing border-box
    width 100%
    height 'calc(100% - %s)' % $top-container-height

    .bottom-content {
      position relative
      box-sizing border-box
      width 100%
      height 100%
      padding-left $left-side-width


      .left {
        position absolute
        top 0
        left 0
        box-sizing border-box
        width $left-side-width
        height 100%
        padding-top $component-interval
      }


      .right {
        position relative
        box-sizing border-box
        width 100%
        height 100%
        padding-top $component-interval
        padding-left $component-interval
      }
    }
  }
}
