@import "../../style/base.styl"

  .nav {
  position relative
  display flex
  flex-direction column
  justify-content space-between
  box-sizing border-box
  width 100%
  height 100%
  background var(--background-color)

  ul.nav-list {
    margin 0
    padding 0
  }

  .nav-item {
    position relative
    box-sizing border-box
    width 100%
    height 76rem
    cursor pointer
    user-select none

    &.active {
      font-weight bold
      background var(--second-background-color)
    }

    .nav-content {
      display flex
      flex-direction column
      align-items center
      justify-content center

      .nav-name {
        margin-top 5rem
        font-size 12rem
        text-align center
      }
    }
  }


  .quick-actions {
    .quick-actions-box {
      position absolute
      bottom 0
      left 100%
      z-index $z-index-1
      box-sizing border-box
      width 180rem
      padding 6rem 10rem
      background var(--background-color)
      box-shadow 1rem -1rem 2.5rem var(--shadow-color)
    }
  }
}
