.dir-info-bar {
  display flex
  align-items center
  justify-content flex-start

  .dir-name {
    display flex
    align-items center
    justify-content flex-start
    margin-right 6rem
    white-space nowrap
    cursor pointer

    .el-icon {
      margin-right 4rem
      font-size 16rem
    }
  }
}
