.cloud-settings-data-box {
  display flex
  align-items center
  justify-content space-between
  padding 2rem 0 2rem 12rem
  color var(--text-color-2)
  border 1rem solid var(--text-color-4)
  border-radius 6rem
}
