.config-page-container {
  padding: 20px;

  .config-form {

    .operation-btns {
      display: flex;
      justify-content: flex-end;

      .el-button {
        margin-left: 20px;
      }
    }
  }
}
