.authorization-status-box {
  display flex
  align-items center
  justify-content space-between
  padding 2rem 0 2rem 12rem
  color var(--text-color-2)
  font-size 14rem
  border-color var(--text-color-4)
  border-style solid
  border-width 1rem
  border-radius 6rem


  &.success {
    color var(--el-color-success)
    background var(--el-color-success-light-9)
    border-color var(--el-color-success)
  }

  &.warning {
    color var(--el-color-warning)
    background var(--el-color-warning-light-9)
    border-color var(--el-color-warning)
  }

  &.error {
    color var(--el-color-danger)
    background var(--el-color-danger-light-9)
    border-color var(--el-color-danger)
  }
}
