@import "../../style/base.styl"

.upload-page-container {
  width 100%
  height 100%
  display flex
  justify-content space-between

  .upload-page-left {
    height 100%
    box-sizing border-box
    margin-right $component-interval
    flex-shrink 0

    .uploaded-item {
      margin-bottom 20rem

      &:last-child {
        margin-bottom 0
      }
    }
  }


  .upload-page-right {
    width 100%
    height 100%
    box-sizing border-box
    overflow-y auto

    .row-item {
      width 100%
      display flex
      justify-content center
      margin-bottom 16rem
      box-sizing border-box

      &:last-child {
        margin-bottom 0
      }

      .content-box {
        width 100%
        max-width $content-max-width
        margin 0 auto
        box-sizing border-box
      }

    }


    .upload-status {
      position relative
      width 100%
      padding 10rem
      background var(--second-background-color)
      color #666
      font-size 12rem
      box-sizing border-box

      .info-item {
        margin-top 4rem
      }

      .file-status {
        display flex
        justify-content space-between
        align-items center
      }

      .upload-tips {

        display flex
        align-items center

        i {
          margin-left 2rem
          font-size 20rem
        }
      }

      .wait-upload {
        color var(--await-upload-color)
      }

      .uploading {
        color var(--uploading-color)
      }

      .uploaded {
        color var(--uploaded-color)
      }

    }


    .external-link {
      width 100%

      .external-link-input {
        margin-bottom 10rem

        &:last-child {
          margin-bottom 0
        }

        .el-input-group__append {
          width 100rem
          text-align-last justify
        }
      }
    }


    .upload-tools {
      width 100%

      .repos-dir-info {
        margin-bottom 20rem
        font-size 12rem

        .repos-dir-info-item {
          margin-right 10rem

          &:last-child {
            margin-right 0
          }
        }


      }
    }
  }

}
