@import "./variables.styl"
@import "./theme.styl"
@import "./element-plus.styl"

:root {
  font-size 1px

  +picx-tablet() {
    font-size 0.95px
  }

  +picx-tablet() {
    font-size 0.9px
  }

  +picx-mobile() {
    font-size 0.8px
  }
}


* {
  &::-webkit-scrollbar {
    width $scrollbar-size
    height $scrollbar-size
  }

  &::-webkit-scrollbar-thumb {
    background var(--scrollbar-color)
    border-radius $box-border-radius
  }

  &::-webkit-scrollbar-track {
    background transparent
  }
}


html
body {
  position relative
  width 100%
  height 100%
  margin 0
  padding 0
  color var(--text-color)
}


a {
  color var(--text-color)
  text-decoration none

  &:link {
    color var(--text-color)
    text-decoration none
  }
}


ul
ol
li {
  margin 0
  list-style none
}


.flex-center {
  display flex
  align-items center
  justify-content center
}


.flex-start {
  display flex
  align-items center
  justify-content flex-start
}


.page-container {
  position relative
  box-sizing border-box
  width 100%
  height 100%
  padding 30rem
  overflow-y auto
  background var(--background-color)
  border-top-left-radius $box-border-radius

  .page-content {
    position relative
    left 50%
    box-sizing border-box
    width 100%
    max-width 1200rem
    height 100%
    transform translateX(-50%)
  }
}


.clearfix {
  &::after {
    display block
    clear both
    height 0
    overflow hidden
    visibility hidden
    content ''
  }
}


.custom-contextmenu-container {
  position relative
  box-sizing border-box
  padding 5rem 0
  color var(--text-color)
  background var(--background-color)
  border-radius 3rem
  box-shadow var(--el-box-shadow-light)

  .custom-contextmenu-item {
    position relative
    display flex
    align-items center
    justify-content flex-start
    box-sizing border-box
    padding 8rem 10rem
    font-size 12rem
    cursor pointer

    &.copy-link {
      display none
    }

    &:hover {
      color var(--el-color-primary)
      background var(--el-color-primary-light-9)
    }
  }
}


.text-ellipsis {
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
}


.quick-actions-popover {
  position relative
  box-sizing border-box
  width 100%
  padding 10rem
  background var(--background-color)
  user-select none

  .el-switch {
    white-space nowrap
  }
}


.personal-center-popover {
  position relative
  box-sizing border-box
  width 100%
  padding 10rem 0
  background var(--background-color)

  .content-item {
    position relative
    display flex
    align-items center
    justify-content space-between
    box-sizing border-box
    width 100%
    height 36rem
    padding 0 12rem
    color var(--text-color-3)
    font-size 14rem
    cursor pointer

    .el-icon {
      margin-right 3rem
    }

    &:hover {
      background var(--background-color-2)
    }
  }
}


.toggle-language-message {
  box-sizing border-box
  background var(--background-color)
  border-radius 3rem
  box-shadow var(--el-box-shadow-light)

  .el-icon {
    display none
  }

  .content-box {
    line-height 2

    .btn-box {
      margin-left 6rem
    }

    .btn {
      margin-left 2rem
      padding 2rem 4rem
      font-size 12rem
      border-style solid
      border-width 1rem
      border-radius 4rem
      cursor pointer
    }

    .confirm {
      color var(--el-color-primary)
      background var(--el-color-primary-light-9)
      border-color var(--el-color-primary-light-5)

      &:hover {
        color var(--el-color-white)
        background var(--el-color-primary)
        border-color var(--el-color-primary)
      }
    }

    .cancel {
      color var(--el-color-info)
      background var(--el-color-info-light-9)
      border-color var(--el-color-info-light-5)

      &:hover {
        color var(--el-color-white)
        background var(--el-color-info)
        border-color var(--el-color-info)
      }
    }
  }
}

.border-box {
  position relative
  box-sizing border-box
}



