:root {
  --el-color-primary #4975c6
  --el-color-primary-light-3 #5482d3
  --el-color-primary-light-5 #a0bbff
  --el-color-primary-light-7 #c6d3ff
  --el-color-primary-light-8 #d9e2ff
  --el-color-primary-light-9 #ecefff
}

.el-message__icon {
  width 15rem
  height 15rem

  svg {
    width 15rem
    height 15rem
  }
}
