:root {
  root-color('light')
}


@media (prefers-color-scheme light) {
  :root {
    root-color('light')
  }
}


@media (prefers-color-scheme dark) {
  :root {
    root-color('dark')
  }
}


.light {
  root-color('light')
}


.dark {
  root-color('dark')
}
