.image-card {
  width 100%
  box-shadow 1rem 2rem 3rem var(--shadow-color)
  user-select none

  &.checked
  &:hover {
    box-shadow 0 0 10rem var(--shadow-hover-color)
  }

  &.checked {
    border 2rem solid var(--el-color-primary-light-7)
  }

  .image-box {
    width 100%
    height 150rem

    .el-image {
      width 100%
      height 100%
    }
  }


  .info-box {
    width 100%
    padding 5rem

    .filename {
      color var(--text-color-3)
      font-size 13rem
    }
  }


  .checked-box {
    position absolute
    top 6rem
    left 6rem
    box-sizing border-box
    width 22rem
    height 22rem
    padding-top 2rem
    background var(--background-color)
    border-radius 2rem
    box-shadow 0 0 6rem var(--shadow-color)
    cursor pointer
  }
}
