.selected-info-bar-box {
  display flex
  align-items center
  justify-content flex-start
  box-sizing border-box
  height 100%
  font-size 12rem

  .info-item {
    margin-right 10rem

    +picx-tablet() {
      &.repo {
        display none
      }
    }

    +picx-mobile() {
      &.branch {
        display none
      }
    }

    &:last-child {
      margin-right 0
    }
  }
}
