.selected-info-bar-box {
  height 100%
  display flex
  align-items center
  justify-content flex-start
  font-size 12px
  box-sizing border-box

  .info-item {
    margin-right 8px

    &:last-child {
      margin-right 0
    }
  }
}
