@import "../../style/base.styl"

.copy-external-link-box {
  position relative
  width 100%
  height 100%
  box-sizing border-box
  display flex
  justify-content space-between
  align-items flex-end
  padding 2px

  .markdown-icon-box {
    width 26px
    height 20px
    position relative
    cursor pointer
  }


  .btn-box {
    position relative
    width 108px
    height 100%
    display flex
    justify-content space-between

    .btn-item {
      height 20px
      box-sizing border-box
      border-radius 5px
      font-size 12px
      cursor pointer
      transition all 0.3s ease
    }

    .copy-url {
      border 1px solid var(--default-text-color)
      color var(--default-text-color)

      &:hover {
        background var(--default-text-color)
        color var(--background-color)
      }
    }


    .github {
      width 56px
    }

    .cdn {
      width 40px
    }
  }
}
