.copy-source-repo-icon {
  color var(--text-color-4)
  font-size 18rem
  cursor pointer

  &.management {
    color var(--text-color-3)
    font-size 20rem
  }
}


.copy-source-repo {
  .copy-result-tip {
    margin-bottom 20rem
  }

  .copy-progress {
    margin-bottom 20rem
  }
}

