.compress-config-box {
  position relative
  box-sizing border-box


  .img-encoder-title {
    font-size 14rem
  }

  .img-encoder-group {
    display inline-block
    margin-top 16rem

    .el-radio {
      display block
    }

    .desc {
      margin-left 10rem
      color var(--text-color-4)
      font-size 12rem
    }
  }
}
