@import './theme.styl'
@import './variables.styl'


$component-interval = 16px
$box-border-radius = 6px
$content-max-width = 888px

html, body {
  position relative
  padding 0
  margin 0
  width 100%
  height 100%
  color var(--default-text-color)
}


ul,
ol,
li {
  list-style none
}


* {
  &::-webkit-scrollbar {
    height 8px
    width 8px
  }

  &::-webkit-scrollbar-thumb {
    background var(--scrollbar-color)
    border-radius 5px
  }

  &::-webkit-scrollbar-track {
    background transparent
  }
}


.flex-center {
  display flex
  justify-content center
  align-items center
}

.flex-start {
  display flex
  justify-content flex-start
  align-items center
}

.page-container {
  width 100%
  height 100%
  box-sizing border-box
  padding 30px
  background var(--background-color)
  border-top-left-radius $box-border-radius
  border-top-right-radius $box-border-radius
  overflow-y auto
}
