@import './theme.styl'
@import './variables.styl'

$component-interval = 16rem
$box-border-radius = 6rem
$content-max-width = 888rem
$scrollbar-size = 8rem

:root {
  font-size 1px

  +picx-tablet() {
    font-size 0.9px
  }

  +picx-mobile() {
    font-size 0.8px
  }
}

html
body {
  position relative
  width 100%
  height 100%
  margin 0
  padding 0
  color var(--default-text-color)
}

a {
  color var(--default-text-color)
  font-size 1.5rem
  text-decoration none
}

a:link {
  color var(--default-text-color)
  text-decoration none
}

ul
ol
li {
  margin 0
  padding 0
  list-style none
}

* {
  &::-webkit-scrollbar {
    width $scrollbar-size
    height $scrollbar-size
  }

  &::-webkit-scrollbar-thumb {
    background var(--scrollbar-color)
    border-radius $box-border-radius
  }

  &::-webkit-scrollbar-track {
    background transparent
  }
}


.flex-center {
  display flex
  align-items center
  justify-content center
}


.flex-start {
  display flex
  align-items center
  justify-content flex-start
}


.page-container {
  box-sizing border-box
  width 100%
  height 100%
  padding 30rem
  overflow-y auto
  background var(--background-color)
  border-top-left-radius $box-border-radius
  border-top-right-radius $box-border-radius
}

.clear {
  &::after {
    display block
    clear both
    height 0
    overflow hidden
    visibility hidden
    content ''
  }
}

.custom-contextmenu-container {
  position relative
  box-sizing border-box
  color var(--el-text-color-regular)
  background var(--second-background-color)
  border 1rem solid var(--border-color)
  border-radius 2rem

  .contextmenu-item {
    position relative
    display flex
    align-items center
    justify-content flex-start
    box-sizing border-box
    width 100rem
    padding 10rem
    background var(--second-background-color)
    cursor pointer

    &:hover {
      color var(--el-color-primary)
    }
  }
}


