.tutorials-page-container {

  .step-content {
    padding-top 30rem
    display flex
    justify-content center
    text-align center
  }

  .btn-next-prev {
    text-align center
    padding-top 30rem
  }

}
