@import "../../style.styl"

$info-item-height = 68px
$info-item-border = 1px
$info-item-padding = 5px
$file-info-background-color = #f1f1f1
$image-width = $info-item-height - ($info-item-border * 2)

.to-upload-image-list-card {
  position relative
  width 100%
  box-sizing border-box

  .header {
    width 100%
    height 30px
    box-sizing border-box
    font-size 12px
    display flex
    align-items center
    justify-content space-between
    padding-bottom 6px
  }

  .body {
    width 100%
    height 100%
    max-height 170px
    overflow-y auto
    box-sizing border-box
    padding 10px
    border 1px solid $image-list-border-color

    &::-webkit-scrollbar {
      width 5px
    }

    &::-webkit-scrollbar-thumb {
      border-radius 2px
    }

    .image-uploading-info-box {
      position relative
      width 100%
      box-sizing border-box
      padding 0
      margin 0

      .image-uploading-info-item {
        position relative
        box-sizing border-box
        width 100%
        height $info-item-height
        border $info-item-border solid $image-list-border-color
        border-radius 5px
        margin-bottom 10px
        overflow hidden
        font-size 15px
        padding-left $image-width
        transition all 0.3s ease

        &.disable {
          pointer-events none
          cursor not-allowed
        }

        &:last-child {
          margin-bottom 0
        }

        &:hover {
          box-shadow 0 0 5px #ddd
        }

        .left-image-box {
          position absolute
          top 0
          left 0
          width $image-width
          height 100%
          box-sizing border-box
          margin-right 5px
          padding $info-item-padding

          .image-box {
            width 100%
            height 100%
            border 1px solid $image-list-border-color
            border-radius 5px
            box-sizing border-box
            overflow hidden
            cursor pointer
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }


        .right-operation-box {
          position relative
          width 100%
          height 100%
          box-sizing border-box
          padding $info-item-padding 22px $info-item-padding $info-item-padding

          .top, .bottom {
            width 100%
            height 50%
            box-sizing border-box
            padding 0 5px
          }

          .top {
            display flex
            justify-content space-between

            .image-name,
            .image-info {
              display flex
              align-items center
              box-sizing border-box
              height 100%
            }

            .image-name {
              font-size 13px
              width 55%
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .image-info {
              font-size 12px
              width 45%

              .item {
                padding 1px 4px
                background $file-info-background-color
                border-radius 2px
                margin-left 10px
              }
            }
          }


          .bottom {
            display flex
            align-items center

            &.rename-operation {

              .el-checkbox {
                margin-right: 20px;
              }

              .rename-input {
                input {
                  height 23px
                  line-height 23px
                }
              }
            }
          }
        }


        .upload-status-box {
          box-sizing border-box
          color: #fff;
          position: absolute;
          right: -17px;
          top: -7px;
          width: 46px;
          height: 26px;
          text-align: center;
          transform: rotate(45deg);
          box-shadow: 0 1px 1px $image-list-border-color;

          &.wait-upload {
            background: #E6A23C;
          }

          &.uploading {
            background: #409EFF;
          }

          &.uploaded {
            background: #67C23A;
          }

          i {
            font-size: 12px;
            margin-top: 12px;
            transform: rotate(-45deg);
          }
        }


        .remove-to-upload-image {
          position absolute
          bottom 5px
          right 5px
          cursor pointer
        }

      }
    }

  }
}
