.feedback-page-container {

  .help-info-item {
    font-size: 16rem;
    padding: 6rem;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;

    &:last-child {
      margin-bottom: 0;
    }


  }

  .description {
    font-weight: bold;
    line-height: 28rem;
  }

  .red-text {
    color: #de1a1a;
  }
}
