$infoBoxHeight = 58rem

.image-card {
  position relative
  box-sizing border-box
  width 100%
  height 100%
  padding-bottom $infoBoxHeight
  box-shadow 1rem 2rem 3rem var(--shadow-color)
  user-select none

  &.checked
  &:hover {
    box-shadow 0 0 10rem var(--shadow-hover-color)
  }

  &.listing {
    display flex
    align-items center
    justify-content flex-start
    padding 5rem
    border-radius $box-border-radius

    .image-box {
      width 45rem
      height 45rem
    }

    .info-box {
      position relative
      width 80%
    }

    :deep(.el-loading-mask) {
      .el-loading-spinner {
        margin-top -25rem

        .circular {
          width 24rem
          height 24rem
        }

        .el-loading-text {
          margin 0
        }
      }
    }
  }


  .image-box {
    position relative
    width 100%
    height 100%

    .el-image {
      width 100%
      height 100%
    }
  }


  .info-box {
    position absolute
    bottom 0
    left 0
    width 100%
    height $infoBoxHeight

    .image-info {
      display flex
      flex-direction column
      justify-content space-between
      box-sizing border-box
      width 100%
      height 100%
      padding 5rem
      color var(--text-color)

      .rename-input {
        display flex
        height 20rem
        margin-bottom 4rem
      }

      .filename {
        height 18rem
        margin-bottom 6rem
        overflow hidden
        font-size 14rem
        white-space nowrap
        text-overflow ellipsis
      }
    }
  }


  .operation-box {
    position absolute
    top 10rem
    right 8rem
    display flex
    justify-content space-between
    width calc(100% - 16rem)

    .operation-left {
      .picked-btn {
        i {
          font-weight bold
        }
      }
    }

    .operation-right {
      display flex
    }

    .operation-btn {
      display flex
      align-items center
      justify-content center
      width 32rem
      height 32rem
      margin-right 8rem
      font-size 18rem
      background var(--background-color)
      border-radius 50%
      box-shadow 0 0 6rem var(--shadow-color)
      cursor pointer

      &:last-child {
        margin-right 0
      }
    }
  }
}
