$top-box-height = 50rem

.management-page-container {
  display flex
  flex-direction column
  justify-content space-between
  padding-top 10rem !important
  padding-bottom 0 !important

  .top-box {
    display flex
    align-items center
    justify-content space-between
    width 100%
    height $top-box-height


    .right {
      .btn-icon {
        margin-left 10rem
        color var(--text-color-3)
        font-size 22rem
        cursor pointer
      }
    }
  }


  .bottom-box {
    width 100%
    height 'calc(100% - %s)' % $top-box-height
    border 1rem solid var(--border-color)
    border-bottom none

    .image-management-list {
      display flex
      flex-wrap wrap
      align-content flex-start
      width 100%
      padding 2rem
      overflow-y auto

      li.image-management-item {
        position relative
        box-sizing border-box
        padding 10rem

        &.image {
          width 230rem
        }

        &:last-child {
          margin-right 0
        }
      }
    }
  }
}
