.tutorials-page-container {

  .step-content {
    display flex
    justify-content center
    padding-top 30rem
    text-align center
  }

  .btn-next-prev {
    padding-top 30rem
    text-align center
  }
}
