.deploy-status-bar-box {
  width 100%

  .deploy-item {
    display flex
    align-items center
    justify-content space-between
    margin-bottom 10rem


    &:last-child {
      margin-bottom 0
    }

    .left-wrap {
      .info-item {
        margin-right 10rem
      }
    }

    .shortcut-key {
      margin-left 5rem
      padding 4rem 5rem
      font-size 12rem
      letter-spacing 1rem
      border-radius 4rem
      box-shadow 1rem 2rem 3rem var(--shadow-color)

      +picx-tablet() {
        display none
      }
    }

    .deploy-status-icon {
      display inline-block
      width 10rem
      height 10rem
      background var(--el-color-info)
      border-radius 50%

      &.success {
        background var(--el-color-success)
      }

      &.fail {
        background var(--el-color-error)
      }
    }
  }
}


