$headerHeight: 60px;
$leftSideWidth: 58px;
$primaryColor: #4c555b;
$backgroundColor: #f1f1f1;
$fontColor: #f6f6f6;
$shadowColor: #ccc;

html,
body {
  font-size: 14px;
  color: #323232;
}

* {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25)
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px $shadowColor;
}

.el-dropdown-menu {
  .popper__arrow {
    display: none !important;
  }
}
