$font-color = #2c3e50
$background-color = #fff
$second-background-color = #f1f1f1

html, body {
  position relative
  padding 0
  margin 0
  width 100%
  height 100%
  color $font-color
}

ul,
li,
ol {
  padding 0
  margin 0
  list-style none
}

.flex-center {
  display flex
  justify-content center
  align-items center
}

.page-container {
  width 100%
  height 100%
  box-sizing border-box
  text-align center
}

.page-title {
  font-size 28px
  font-weight bold
  padding 20px
}
