@import './common/theme/index.styl'

$default-font-color= var(--default-font-color);
$background-color= var(--background-color);
$second-background-color= var(--second-background-color);
$image-card-shadow-color= var(--image-card-shadow-color);
$upload-area-focus-color= var(--upload-area-focus-color);
$upload-area-border-color= var(--upload-area-border-color);
$scrollbar-color= var(--scrollbar-color);
$image-list-border-color= var(--image-list-border-color);

$background-await-upload= var(--background-await-upload);
$background-uploading= var(--background-uploading);
$background-uploaded= var(--background-uploaded);

$third-background-color= var(--third-background-color);


$component-interval = 16px
$box-border-radius = 6px
$content-max-width = 888px

html, body {
  position relative
  padding 0
  margin 0
  width 100%
  height 100%
  color $default-font-color
}


ul,
ol,
li {
  list-style none
}


* {
  &::-webkit-scrollbar {
    height 8px
    width 8px
  }

  &::-webkit-scrollbar-thumb {
    background $scrollbar-color
    border-radius 5px
  }

  &::-webkit-scrollbar-track {
    background transparent
  }
}


.flex-center {
  display flex
  justify-content center
  align-items center
}

.flex-start {
  display flex
  justify-content flex-start
  align-items center
}

.page-container {
  width 100%
  height 100%
  box-sizing border-box
  padding 30px
  background $background-color
  border-top-left-radius $box-border-radius
  border-top-right-radius $box-border-radius
  overflow-y auto
}
