* {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25)
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.picx-container {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
