.copy-image-link-box {
  position relative
  display flex
  align-items center
  justify-content space-between
  box-sizing border-box
  width 100%
  height 100%
  padding 2rem

  .left
  .right {
    display flex
    align-items center
  }

  .left {
    justify-content flex-start
    box-sizing border-box
    width 30rem
    height 100%
    font-size 18rem
  }

  .right {
    justify-content flex-end
    width calc(100% - 30rem)
    height 100%

    .el-button {
      width 100%
    }
  }
}
