@import "../../style/base.styl"

.copy-image-link-box {
  position relative
  width 100%
  height 100%
  box-sizing border-box
  display flex
  justify-content space-between
  align-items flex-end
  padding 2rem

  .left, .right {
    display flex
    align-items center
  }

  .btn-box {
    position relative
    box-sizing border-box
    height 100%

    .btn-item {
      height 20rem
      box-sizing border-box
      border-radius 5rem
      font-size 12rem
      cursor pointer
      transition all 0.3s ease
    }

    .copy-url {
      box-sizing border-box
      border 1rem solid var(--default-text-color)
      color var(--default-text-color)
      padding 1rem 2rem

      &:hover {
        background var(--default-text-color)
        color var(--background-color)
      }
    }
  }
}
